#Node manager properties
#Thu Oct 07 17:23:52 EDT 2021
DomainsFile={{ nodemanager_home_windows }}\\nodemanager.domains
LogLimit=0
PropertiesVersion=12.2.1
AuthenticationEnabled=true
NodeManagerHome={{ nodemanager_home_windows }}
JavaHome={{ jdk_folder_windows }}
LogLevel=INFO
DomainsFileEnabled=true
ListenAddress=localhost
NativeVersionEnabled=true
ListenPort=5556
LogToStderr=true
weblogic.StartScriptName=startWebLogic.cmd
SecureListener=true
LogCount=1
QuitEnabled=false
LogAppend=true
weblogic.StopScriptEnabled=false
StateCheckInterval=500
CrashRecoveryEnabled=false
weblogic.StartScriptEnabled=true
LogFile={{ nodemanager_home_windows }}\\nodemanager.log
#LogFormatter=weblogic.nodemanager.server.LogFormatter
ListenBacklog=50