nmConnect(username='{{nodemanager_username}}',password='{{nodemanager_password}}', host='{{server_hostname}}', port='5557', domainName='{{ohs_domain_name}}', domainDir='{{ohs_domain}}') 
nmStart(serverName='{{item}}', serverType='OHS') 
exit()